.add-icon{
	background-image:url('thetransitionimages/addicon.png')
}
.remove-icon{
	background-image:url('thetransitionimages/removeicon.png')
}
.save-icon{
	background-image:url('thetransitionimages/saveicon.png')
}
.x-action-col-cell img.ux-rating-icon {
	height: 16px;
	width: 16px;
	background-image: url('thetransitionimages/rating.gif');
}
.x-action-col-cell img.ux-rating-icon-on {
	background-position: 0 -16px;
}
.x-action-col-cell img.ux-rating-icon-hover {
	background-position: 0 -32px;
}
.filter-icon{
	height: 16px;
	width: 16px;
	background-image: url('thetransitionimages/filter-icon.png');
}
.clearfilter-icon{
	height: 16px;
	width: 16px;
	background-image: url('thetransitionimages/filter-delete-icon.png');
}
.expandall-icon{
	height: 16px;
	width: 16px;
	background-image: url('images/grid/group-expand.gif');
}
.collapseall-icon{
	height: 16px;
	width: 16px;
	background-image: url('images/grid/group-collapse.gif');
}