{% include "thetransitionglobaluser" %}
{% include "thetransitionextheader" %}
<script type="text/javascript">
    Ext.onReady(function() {
		Ext.QuickTips.init();
		
		Ext.define('UserSkills', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'userid',
					defaultValue: Transition.user.id
				}, 
				{
					name: 'fullname',
					convert: function(v, record){
						return '<a href="/'+record.data.userid+'">'+record.data.fullname + '</a>';
					}
				},
				{
					name: 'skillid',
					validators: [{
						type: 'presence',
						message: 'Skill is required'
					}]
				}, 
				{
					name: 'description'
				},
				{ 
					name: 'userrating',
					defaultValue: 0
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'userskills'
				},
				reader: {
					type: 'json',
					rootProperty: 'userskills'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('Skills', {
			extend: 'Ext.data.Model',
			fields: ['id', 'name'],
			proxy: 
			{
				extraParams: {
					resource: 'skills'
				},
				reader: {
					type: 'json',
					rootProperty: 'skills'
				},
				type: 'customphp',
				isSynchronous: true
			}
		});
		
		Ext.define('Ratings', {
			extend: 'Ext.data.Model',
			fields: [{name: 'id', type: 'string'}, 'name'],
			proxy: {
				type: 'memory',
				reader: {
					type: 'json',
					rootProperty: 'ratings'
				}
			}
		});
		
		var ratingList = Ext.create('Ext.data.Store',{
			storeId: 'ratingList',
			model: 'Ratings',
			data: {ratings: [{id: 0, name: 'Not Rated'},{id: 1, name: 'Beginner'},{id: 2, name: 'Intermediate'},{id: 3, name: 'Advanced'},{id: 4, name: 'Expert'},{id: 5, name: 'Master'}]},
			pageSize: 0
		});
		
		var skillList = Ext.create('Ext.data.Store', {
			storeId: 'skillList',
			model: 'Skills',
			sorters: [{
				 property: 'name',
				 direction: 'ASC'
			}],
			pageSize: 0
		});
		
		var skillListGrid = Ext.create('Ext.data.Store', {
			storeId: 'skillListGrid',
			model: 'Skills',
			sorters: [{
				 property: 'name',
				 direction: 'ASC'
			}],
			remoteSort: true,
			remoteFilter: true,
			pageSize: 20
		});
		
		skillListGrid.load();
		
		var skillStore = Ext.create('Ext.data.Store', {
			storeId:'skillStore',
			model: 'UserSkills',
			remoteSort: true,
			remoteFilter: true,
			filters: [{
				property: "userid",
				value: '{{request.current_user.id}}',
				operator: "eq"
			}],
			pageSize: 20
		});
		
		var otherSkillStore = Ext.create('Ext.data.Store', {
			storeId: 'otherSkillStore',
			model: 'UserSkills',
			remoteSort: true,
			remoteFilter: true,
			filters: [{
				property: "userid",
				value: '{{request.current_user.id}}',
				operator: "ne"
			}],
			pageSize: 20
		});
		
		skillList.load(function (records, operation, success){
			if(success)
			{
				skillStore.load(function(records,operation,success){
					
				});
				otherSkillStore.load(function(records,operation,success){

				});
			}
		});
		
		function GetFormItems(record)
		{
			return [
				{
					xtype: 'fieldset',
					collapsible: false,
					border: false,
					margin: '5',
					columnWidth: 0.8,
					defaults: {
						labelAlign: 'right',
						width: '100%'
					},
					items:[
						{
							xtype: 'combobox',
							name: 'skillid',
							fieldLabel: 'Skill',
							valueField: 'id',
							displayField: 'name',
							store: skillList,
							allowBlank: false,
							lazyRender: true,
							readOnly: typeof(record.get('skillid')) != 'undefined',
							triggers: {
								picker: {
									weight: 1,
									handler: 'onTriggerClick', 
									scope: 'this'
								},
								search: {
									weight: 0,
									cls: 'x-form-search-trigger',
									handler: function(){
										var win = Ext.getCmp('skillWindow');
										if(typeof(win) == 'undefined'){
											var grid = Ext.create('Ext.ux.FormGrid', {
												title: 'Skills',
												store: skillListGrid,
												allowRemove: false,
												GetFormItems: function(record){
													return [{
														xtype: 'fieldset',
														collapsible: false,
														border: false,
														margin: '5',
														columnWidth: 0.8,
														defaults: {
															labelAlign: 'right',
															width: '100%'
														},
														items:[{
															xtype: 'textfield',
															fieldLabel: 'Skill Name',
															name: 'name',
															allowBlank: false,
															maxLength: '500',
															hideable: false,
															readOnly: record.get('id').indexOf('Skill')==-1
														}]
													}];
												},
												columns: [
													{
														text: 'Skill',  
														dataIndex:'name', 
														hideable: false,
														sortable: true,
														filter: {
															type: 'string',
														}
													}
												],
												width: 'auto',
												forceFit: true,
												plugins: ['gridfilters']
											});
										
										
											Ext.create('Ext.window.Window', {
												id: 'skillWindow',
												title: 'Skill Search',
												height: 400,
												width: 400,
												layout: 'fit',
												items: grid,
												y: arguments[1].getEl().getY() - 100,
												skillCombo: this,
												closeAction: 'hide',
												bbar: [{ 
													xtype: 'button', 
													text: 'Select',
													width: 'auto',
													handler: function(){
														var grid = this.findParentByType('window').items.items[0];
														var sm = grid.getSelectionModel();
														
														if(!sm.hasSelection())
														{
															Ext.MessageBox.show({
																title: 'Selection Error',
																msg: 'Please select a skill.',
																buttons: Ext.MessageBox.OK,
																icon: Ext.MessageBox.ERROR
															});
														}
														else
														{
															var win = this.findParentByType('window');
															var onSuccess = function(isLoadNotRequired){
																skillList.load(function (records, operation, success){
																	if(success)
																	{
																		
																		win.skillCombo.setValue(sm.getSelection()[0].getId());
																		win.hide();
																	}
																});
															}
															grid.saveHandler(onSuccess);
														}
													}
												}]
											}).show();
										}
										else 
										{
											win.skillCombo = this;
											win.show();
										}
									}
								}
							}
							,typeAhead: true
							,queryMode: 'local'
							/*,
							pageSize: 20,
							queryParam: 'filter',
							queryMode: 'remote',
							listeners: {
								beforequery: function(queryPlan, eOpts)
								{
									queryPlan.query = "[{\"property\":\"name\",\"value\": \"" + queryPlan.query + "\",\"operator\":\"like\"}]";
									queryPlan.forceAll = true;
									return true;
								}
							}*/
						},
						{
							xtype: 'combobox',
							fieldLabel: 'Rating',
							name: 'userrating',
							valueField: 'id',
							displayField: 'name',
							store: ratingList,
							lazyRender: true,
							forceSelection: true,
							autoLoadOnValue: true
						},
						{
							xtype: 'textarea',
							fieldLabel: 'Description',
							name: 'description',
							allowBlank: true,
							maxLength: '4000'
						}
					]
				}
			];
		}
		
		
		var ratingColumn = new Ext.ux.RatingColumn({
			header: 'Rating',
			dataIndex: 'userrating',
			sortable: false
		});

		var grid = Ext.create('Ext.ux.FormGrid', {
			title: 'My Skills',
			store: skillStore,
			GetFormItems: GetFormItems,
			columns: [
				{
					text: 'Skill',  
					dataIndex:'skillid', 
					hideable: false,
					sortable: false,
					renderer: function(value, metaData, record, rowIndex, colIndex, store, view) {
						var store = skillList;
						var data = store.getById(value);
						if(!data)
							return '';
						else return data.get('name');
					}
				},
				ratingColumn
			],
			width: 'auto',
			forceFit: true,
			renderTo: 'ext',
			plugins: [ratingColumn]
		});

		var otherRatingColumn = new Ext.ux.RatingColumn({
			header: 'Rating',
			dataIndex: 'userrating',
			readOnly: true,
			filter: {
				type: 'number'
			}
		});
	
		var otherGrid = new Ext.create('Ext.ux.FormGrid', {
			title: 'Other Member\'s Skills',
			store: otherSkillStore,
			GetFormItems: GetFormItems,
			allowAdd: false,
			allowSave: false,
			allowRemove: false,
			formReadOnly: true,
			columns: [
				{
					text: 'Member',
					dataIndex: 'fullname',
					hideable: false,
					filter: {
						type: 'string'
					}
				},
				{
					text: 'Skill',  
					dataIndex:'name',
					hideable: false,
					filter: {
						type: 'string',
					}
				},
				otherRatingColumn
			],
			width: 'auto',
			forceFit: true,
			renderTo: 'extOther',
			plugins: [otherRatingColumn, 'gridfilters']
		});
	});
	
</script>

{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
  <div id="ext"></div>
  <br>
  <br>
  <div id="extOther"></div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

{% include "donateLink" with "pay_what_you_want" %} 