<script type="text/javascript">
 Ext.onReady(function() {
	Ext.QuickTips.init();
	
	//Look into doing something like this: http://www.learnsomethings.com/2011/02/11/make-data-in-an-extjs-grid-wrap/ and generate records as needed or create a view that left joins the userPhaseSteps and Users table
	
	Ext.define('PhaseSteps', {
		extend: 'Ext.data.Model',
		fields: [
			{
				name: 'id',
			}, 
			{
				name: 'name'
			},
			{
				name: 'planphaseid'
			},
			{
				name: 'number'
			}
		],
		proxy: 
		{
			extraParams: {
				resource: 'phasesteps'
			},
			reader: {
				type: 'json',
				rootProperty: 'phasesteps'
			},
			type: 'customphp'
		}
	});
	
	var phaseStepsStore = Ext.create('Ext.data.Store', {
		storeId:'phaseStepsStore',
		model: 'PhaseSteps',
		remoteSort: true,
		remoteFilter: true,
		pageSize: 0
	});
	
	Ext.define('PlanPhases', {
		extend: 'Ext.data.Model',
		fields: [
			{
				name: 'id',
			}, 
			{
				name: 'name'
			},
			{
				name: 'number'
			}
		],
		proxy: 
		{
			extraParams: {
				resource: 'planphases'
			},
			reader: {
				type: 'json',
				rootProperty: 'planphases'
			},
			type: 'customphp'
		}
	});
	
	var planPhasesStore = Ext.create('Ext.data.Store', {
		storeId:'planPhasesStore',
		model: 'PlanPhases',
		remoteSort: true,
		remoteFilter: true,
		sorters: [{
			 property: 'number',
			 direction: 'ASC'
		}],
		pageSize: 0
	});
	
	Ext.define('UserPhaseSteps', {
		extend: 'Ext.data.Model',
		fields: [
			{
				name: 'userid',
				defaultValue: Transition.user.id
			}, 
			{
				name: 'phasestepid'
			},
			{
				name: 'completed',
				type: 'boolean'
			}
		],
		proxy: 
		{
			extraParams: {
				resource: 'userphasesteps',
				getcurrentphase: '1'
			},
			reader: {
				type: 'json',
				rootProperty: 'userphasesteps'
			},
			type: 'customphp'
		}
	});
	
	var userPhaseStepsStore = Ext.create('Ext.data.Store', {
		storeId:'UserPhaseStepsStore',
		model: 'UserPhaseSteps',
		remoteSort: true,
		remoteFilter: true,
		filters: [{
			property: "userid",
			value: Transition.user.id,
			operator: "eq"
		}],
		pageSize: 500
	});
	
	Ext.define('OtherUserPhaseSteps', {
		extend: 'Ext.data.Model',
		fields: [
			{
				name: 'userid',
				defaultValue: Transition.user.id
			}, 
			{
				name: 'phasestepid'
			},
			{
				name: 'completed',
				type: 'boolean'
			},
			{
				name: 'fullname',
				convert: function(v, record){
					return '<a href="/'+record.data.userid+'">'+record.data.fullname + '</a>';
				}
			},
			{
				name: 'phasestepname'
			}
		],
		proxy: 
		{
			extraParams: {
				resource: 'userphasesteps'
			},
			reader: {
				type: 'json',
				rootProperty: 'userphasesteps'
			},
			type: 'customphp'
		}
	});
	
	//Load the stores
	userPhaseStepsStore.load(function (records, operation, success){
		if(success)
		{
			planPhasesStore.load(function (records, operation, success){
				if(success)
				{
					phaseStepsStore.load(function (records, operation, success){
						if(success)
						{
							var planPhase = GetCurrentPhase();
							BuildGridPlan(planPhase);
						}
					});
				}
			});
		}
	});
	
	function GetCurrentPhase()
	{
		var userPhaseStep = userPhaseStepsStore.getAt(0);
		var phaseStepId = userPhaseStep.get('phasestepid');
		var planPhaseId = phaseStepsStore.getById(phaseStepId).get('planphaseid');
		var planPhase = planPhasesStore.getById(planPhaseId);
		return planPhase;
	}
	
	function BuildGridPlan(currentPhase)
	{
		var currentPlanPhaseStore = Ext.create('Ext.data.Store', {
			storeId:'currentPlanPhasesStore',
			model: 'PlanPhases',
			remoteSort: true,
			remoteFilter: true,
			sorters: [{
				property: 'number',
				direction: 'ASC'
			}],
			filters: [{
				id: 'phaseFilter',
				property: 'number',
				value: currentPhase.get('number'),
				operator: 'lte'
			}],
			pageSize: 0
		});
		
		var highestPhase = currentPhase;
		
		userPhaseStepsStore.on('refresh', function(store, options)
			{
				var currentPhase = GetCurrentPhase();
				if(highestPhase.get('number') < currentPhase.get('number'))
				{
					highestPhase = currentPhase;
					currentPlanPhaseStore.remoteFilter = false;
					currentPlanPhaseStore.removeFilter('phaseFilter');
					currentPlanPhaseStore.remoteFilter = true;
					currentPlanPhaseStore.addFilter({
						id: 'phaseFilter',
						property: 'number',
						value: currentPhase.get('number'),
						operator: 'lte'
					});
				}
				
				grid.setTitle(currentPhase.get('name'));
				otherGrid.refreshPhase(currentPhase);
			}
		);
		
		var grid = Ext.create('Ext.grid.Panel', {
			title: currentPhase.get('name'),
			store: userPhaseStepsStore,
			currentPhase: currentPhase,
			refreshPhase: function(currentPhase, getCurrentPhase){
				grid.currentPhase = currentPhase;
				userPhaseStepsStore.suspendEvents(false);
				userPhaseStepsStore.remoteFilter = false;
				userPhaseStepsStore.removeFilter('phaseFilter');
				if(getCurrentPhase == 0)
				{
					userPhaseStepsStore.addFilter({
						id: 'phaseFilter',
						property: 'planphaseid',
						value: currentPhase.get('id'),
						operator: 'eq'
					});
				}
				
				userPhaseStepsStore.setProxy({
					extraParams: {
						resource: 'userphasesteps',
						getcurrentphase: getCurrentPhase
					},
					reader: {
						type: 'json',
						rootProperty: 'userphasesteps'
					},
					type: 'customphp'
				});
				userPhaseStepsStore.remoteFilter = true;
				userPhaseStepsStore.resumeEvents();
			
				var toolbar = this.dockedItems.findBy(function(object, item, key){return object.xtype == 'pagingtoolbar'})
				toolbar.doRefresh();
			},
			saveStep: function(){
				var grid = this;
				var store = grid.getStore();
				var isPhaseComplete = true;
				store.each(function(record){
					if(record.get('completed') != 1)
					{
						isPhaseComplete = false;
						return false;
					}
				});
				var options = {
					isPhaseComplete: isPhaseComplete,//passthrough
					success: function(batch, options)
					{
						if(options.isPhaseComplete){
							var planStore = Ext.StoreManager.get('planPhasesStore');
							var index = planStore.indexOf(grid.currentPhase);
							index++;
							var currentPhase = grid.currentPhase;
							var msg = "";
							var nextPhase;
							if(index < planStore.count())
							{
								nextPhase = planStore.getAt(index);
								msg += "Congratulations, you are now eligible for the next phase.";
							}
							else{
								nextPhase = planStore.getAt(index-1);
								msg += "Congratulations, you've completed all the steps!";
							}
							
							Ext.MessageBox.show({
								title: "You've completed " + currentPhase.get('name'),
								message: msg,
								buttons: Ext.MessageBox.OK,
								minWidth: 350
							});
							
							grid.currentPhase = nextPhase;
							grid.down('#phaseSelector').clearValue();
							grid.refreshPhase(nextPhase, 1);
						}
					}
				}
				grid.getStore().sync(options);
			},
			dockedItems: [{
				xtype: 'pagingtoolbar',
				store: userPhaseStepsStore,
				dock: 'bottom',
				displayInfo: true
			}],
			columns: [
				{
					xtype : 'checkcolumn',
					text: 'Completed?',  
					dataIndex:'completed', 
					hideable: false,
					sortable: false,
					width: .2,
					listeners: {
						'checkchange': function(column, rowIndex, value, options){
							var grid = this.findParentByType('grid');
							grid.saveStep();
						}
					}
				},
				{
					text: 'Step',
					dataIndex: 'phasestepid',
					hideable: false,
					sortable: false,
					renderer: function(value, metaData, record, rowIndex, colIndex, store, view) {
						var store = Ext.StoreManager.get('phaseStepsStore');
						var data = store.getById(value);
						if(!data)
							return '';
						else return data.get('name');
					},
					width: .8
				}
			],
			width: 'auto',
			forceFit: true,
			renderTo: 'ext',
			tbar: [
			{
				itemId: 'save',
				text: 'Save Plan',
				iconCls: 'save-icon',
				handler: function() {
					var grid = this.findParentByType('grid');
					grid.saveStep();
				}
			},
			{
				itemId: 'phaseSelector',
				xtype: 'combobox',
				emptyText: 'Select Phase',
				name: 'phase',
				width: 350,
				store: currentPlanPhaseStore,
				valueField: 'id',
				displayField: 'name',
				listeners: {
					change: function(combo, newValue, oldValue, eOpts){
						if(newValue)
							grid.refreshPhase(combo.getStore().getById(newValue), 0);
					}
				}
			}
			]
		});
		
		var otherUserPhaseStepsStore = Ext.create('Ext.data.Store', {
			storeId:'OtherUserPhaseStepsStore',
			model: 'OtherUserPhaseSteps',
			remoteSort: true,
			remoteFilter: true,
			sorters: [{
				property: 'phasestepnumber',
				direction: 'ASC'
			}],
			filters: [{
				property: "userid",
				value: Transition.user.id,
				operator: "ne"
			},
			{
				property: "completed",
				value: "1",
				operator: "eq"
			},
			{
				id:'phasefilter',
				property: "planphaseid",
				value: currentPhase.get("id"),
				operator: "eq"
			}
			],
			pageSize: 25
		});
		
		
		
		otherUserPhaseStepsStore.load();
		var otherGrid = Ext.create('Ext.grid.Panel', {
			title: 'Users who have completed steps in ' + currentPhase.get('name'),
			refreshPhase: function(currentPhase){
				otherUserPhaseStepsStore.suspendEvents(false);
				otherUserPhaseStepsStore.remoteFilter = false;
				otherUserPhaseStepsStore.removeFilter('phasefilter');
				otherUserPhaseStepsStore.addFilter({
					id:'phasefilter',
					property: "planphaseid",
					value: currentPhase.get("id"),
					operator: "eq"
				});
				otherUserPhaseStepsStore.remoteFilter = true;
				otherUserPhaseStepsStore.resumeEvents();
				otherGrid.currentPhase = currentPhase;
				var otherGridToolbar = otherGrid.dockedItems.findBy(function(object, item, key){return object.xtype == 'pagingtoolbar'});
				otherGridToolbar.doRefresh();
				otherGrid.setTitle('Users who have completed steps in ' + currentPhase.get('name')); 
			},
			store: otherUserPhaseStepsStore,
			currentPhase: currentPhase,
			dockedItems: [{
				xtype: 'pagingtoolbar',
				store: otherUserPhaseStepsStore,
				dock: 'bottom',
				displayInfo: true
			}],
			columns: [
				{
					text: 'User',
					dataIndex: 'fullname',
					hideable: false,
					sortable: true,
					filter: {
						type: 'string'
					},
					width: .3
				},
				{
					text: 'Step',
					dataIndex: 'phasestepname',
					hideable: false,
					sortable: true,
					filter: {
						type: 'string'
					},
					width: .7
				}
			],
			width: 'auto',
			forceFit: true,
			renderTo: 'other',
			plugins: ['gridfilters']
		});	
	}
});
</script>


{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  <div id="ext"></div>
  
  <br>
  <br>
  
  <div id="other"></div>
  
  <br>
  <br>


  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

{% include "donateLink" with "pay_what_you_want" %} 