{% include "thetransitionglobaluser" %}
{% include "thetransitionextheader" %}
<script type="text/javascript">
    Ext.onReady(function() {
		Ext.QuickTips.init();
		
		Ext.define('UserBuds', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'id',
				}, 
				{
					name: 'userid',
					defaultValue: Transition.user.id
				},
				{
					name: 'fullname'
				},
				{
					name: 'name'
				},
				{
					name: 'description'
				},
				{
					name: 'imageFile'
				},
				{
					name: 'imageDisplay',
					calculate: function (data) {
						//There is no image for newly created records so don't display one
						if(data.id)
							return Transition.global.imageUploadLocation + 'userbuds/' + data.id + Transition.global.uploadImageFileExtension;
						return "";
					}
				},
				{
					name: 'seedperson'
				},
				{
					name: 'status',
					type: 'int',
					defaultValue: 0
				},
				{
					name: 'type',
					convert: function(value, record){
						if(value)
						{
							if(typeof(value) == 'object')
								return value;
							if(typeof(value) == 'string')
								return value.split(',');
						}
						return value;
					},
					serialize: function(value, record){
						if(value && typeof(value)=='object')
							return value.join(',');
						return value;
					},
					persist: true
				},
				{
					name: 'typenames'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'userbuds',
					includestatus: '1'
				},
				reader: {
					type: 'json',
					rootProperty: 'userbuds'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('UserBudsMembership', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'userbudid',
				}, 
				{
					name: 'userid',
					defaultValue: Transition.user.id
				},
				{
					name: 'status',
					type: 'int',
					defaultValue: 0
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'userbudsmembership'
				},
				reader: {
					type: 'json',
					rootProperty: 'userbudsmembership'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('BudTypes', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'id',
				}, 
				{
					name: 'name',
					defaultValue: Transition.user.id
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'budtypes'
				},
				reader: {
					type: 'json',
					rootProperty: 'budtypes'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('UserBudMembershipStatus', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'id'
				},
				{
					name: 'name'
				}
			],
			proxy: {
				type: 'memory',
				reader: {
					type: 'json',
					rootProperty: 'key'
				}
			}
		});
		
		var budStore = Ext.create('Ext.data.Store', {
			storeId: 'typeStore',
			model: 'BudTypes',
			remoteSort: true,
			remoteFilter: true,
			pageSize: 0
		});
		
		budStore.load(function (records, operation, success){
			if(success)
			{
				BuildGrid();
			}
		});
		
		function GetFormItems(record)
		{
			var store = Ext.create('Ext.data.Store', {
				model: 'UserBudsMembership',
				remoteSort: true,
				remoteFilter: true,
				filters: [
					{
						property: "userbudid",
						value: record.get("id"),
						operator: "eq"
					},
					{
						property: "status",
						value: "0",
						operator: "ne"
					}
				],
				pageSize: 20
			});
			store.load(function (records, operation, success){
				if(success)
				{
					grid.updateLayout();
				}
			});

			return [
				{
					xtype: 'container',
					collapsible: false,
					border: false,
					layout: 'column',
					items: [
						{
							xtype: 'image',
							itemId: 'imageDisplay',
							columnWidth: 0.2
						},
						{
							xtype: 'hiddenfield',
							name: 'imageDisplay',
							setValue: function(value)
							{
								if(value != undefined)
								{
									var form = this.findParentByType('form');
									var imageDisplay = form.down('#imageDisplay');
									imageDisplay.setSrc(value);
								}
							}
						},
						{
							xtype: 'fieldset',
							collapsible: false,
							border: false,
							margin: '5',
							columnWidth: 0.8,
							defaults: {
								labelAlign: 'right',
								width: '100%'
							},
							items:[
								{
									xtype: 'textfield',
									fieldLabel: 'Name',
									name: 'name',
									allowBlank: false,
									maxLength: '500'
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Seed Person',
									name: 'seedperson',
									allowBlank: false,
									maxLength: '500'
								},
								{
									xtype: 'multiselect',
									fieldLabel: 'Type',
									name: 'type',
									valueField: 'id',
									displayField: 'name',
									msgTarget: 'side',
									store: Ext.StoreManager.get('typeStore'),
									maxSelections: 3
								},
								{
									xtype: 'htmleditor',
									fieldLabel: 'Description',
									name: 'description',
									allowBlank: false,
									maxLength: '4000'
								},
								{
									xtype: 'filefield',
									name: 'image',
									fieldLabel: 'Photo',
									allowBlank: true,
									buttonText: 'Select Photo...',
									listeners: {
										change: function( self, value, eOpts )
										{
											var files = self.fileInputEl.dom.files;
											var f = files[0];//only consider the first file
											// Only process image files.
											if (!f.type.match('image.*')) {
												Ext.MessageBox.show({
													title: 'Invalid File',
													msg: 'The uploaded file is not an image',
													buttons: Ext.MessageBox.OK,
													icon: Ext.MessageBox.ERROR
												});
											}
											
											 var reader = new FileReader();

											// Closure to capture the file information.
											reader.onload = (function(theFile, self) {
												return function(e) {
													// Render thumbnail.
													var form = self.findParentByType('form');
													var imageDisplay = form.down('#imageDisplay');
													imageDisplay.setSrc(e.target.result);
													form.getForm().findField('imageFile').setValue(e.target.result);
												};
											})(f, self);

											// Read in the image file as a data URL.
											reader.readAsDataURL(f);
										}
									}
								},
								{
									xtype: 'hiddenfield',
									name: 'imageFile'
								}
							]
						}
					]
				},
				{
					xtype: 'container',
					border: false,
					layout: 'fit',
					padding: '0 5 5 5',
					items: [
						{
							xtype: 'gridpanel',
							title: 'Members',
							store: store,
							dockedItems:[
								{
									xtype: 'pagingtoolbar',
									store: store,
									dock: 'bottom',
									displayInfo: true
								}
							],
							columns: [
								{
									text: 'Name',
									dataIndex: 'fullname',
									hideable: false,
									sortable: false
								},
								{
									xtype: 'actioncolumn',
									text: 'Status',  
									dataIndex: 'status', 
									hideable: false,
									sortable: false,
									items:[
										{
											handler: function(view, rowIndex, colIndex, item, e, record){
												var value = record.get(this.dataIndex);
												switch(value)
												{
													case 1://Pending Approval
														record.set(this.dataIndex,3)
														break;
													case 2://Accepted
														record.set(this.dataIndex, 0);
														var grid = this.findParentByType('grid');
														var toolbar = grid.dockedItems.findBy(function(object, item, key){return object.xtype == 'pagingtoolbar'})
														toolbar.doRefresh();
														break;
													case 3://Denied
														record.set(this.dataIndex, 2);
														break;
												}
												record.save();
											},
											getClass: function(value, metadata, record, rowIndex, colIndex, store){
												var cls = 'hidden-icon'
												switch(value)
												{
													case 1://Pending Approval
														cls = 'accept-icon';
														break;
													case 2://Accepted
														cls = 'accept-icon';
														break;
													case 3://Denied
														cls = 'decline-icon';
														break;
												}
												return cls;
											},
											getTip: function(value, metadata, record, rowIndex, colIndex, store){
												var tooltip = ''
												switch(value)
												{
													case 1://Pending Approval
														tooltip = "Approve " + record.get("fullname") + " as a new member?";
														break;
													case 2://Accepted
														tooltip = record.get('fullname') + " has been accepted.  Do you want to remove this member?";
														break;
													case 3: //Declined
														tooltip = record.get('fullname') + " has been declined.  Do you want to accept this member?";
														break;
												}
												return tooltip;
											}
										},
										{
											handler: function(view, rowIndex, colIndex, item, e, record){
												var value = record.get(this.dataIndex);
												switch(value)
												{
													case 1://Pending Approval
														record.set(this.dataIndex, 3);
														break;
												}
												record.save();
											},
											getClass: function(value, metadata, record, rowIndex, colIndex, store){
												var cls = ' hidden-icon'
												switch(value)
												{
													case 1://Pending Approval
														cls = 'decline-icon';
														break;
												}
												return cls;
											},
											getTip: function(value, metadata, record, rowIndex, colIndex, store){
												var tooltip = ''
												switch(value)
												{
													case 1://Pending Approval
														tooltip = "Decline membership for " + record.get("fullname");
														break;
												}
												return tooltip;
											},
											isDisabled: function(value, metadata, record, rowIndex, colIndex, store){
												var disable = true;
												switch(value)
												{
													case 1://Pending Approval
														disable = false;
														break;
												}
												return disable;
											}
										}
									]
								}
							],
							width: 'auto',
							forceFit: true
						}
					]
				}
			];
		}
		
		function GetOtherFormItems(record)
		{
			var store = Ext.create('Ext.data.Store', {
				model: 'UserBudsMembership',
				remoteSort: true,
				remoteFilter: true,
				filters: [
					{
						property: "userbudid",
						value: record.get("id"),
						operator: "eq"
					},
					{
						property: "status",
						value: "2",
						operator: "eq"
					}
				],
				pageSize: 20
			});
			store.load(function (records, operation, success){
				if(success)
				{
					otherGrid.updateLayout();
				}
			});
			return [
				{
					xtype: 'container',
					collapsible: false,
					border: false,
					layout: 'column',
					items: [
						{
							xtype: 'image',
							itemId: 'imageDisplay',
							columnWidth: 0.2
						},
						{
							xtype: 'hiddenfield',
							name: 'imageDisplay',
							setValue: function(value)
							{
								if(value != undefined)
								{
									var form = this.findParentByType('form');
									var imageDisplay = form.down('#imageDisplay');
									imageDisplay.setSrc(value);
								}
							}
						},
						{
							xtype: 'fieldset',
							collapsible: false,
							border: false,
							margin: '5',
							columnWidth: 0.8,
							defaults: {
								labelAlign: 'right',
								width: '100%'
							},
							items:[
								{
									xtype: 'textfield',
									fieldLabel: 'Name',
									name: 'name',
									allowBlank: false,
									maxLength: '500'
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Seed Person',
									name: 'seedperson',
									allowBlank: false,
									maxLength: '500'
								},
								{
									xtype: 'combo',
									fieldLabel: 'Type',
									name: 'type',
									multiSelect: true,
									valueField: 'id',
									displayField: 'name',
									store: Ext.StoreManager.get('typeStore')
								},
								{
									xtype: 'displayfield',
									fieldLabel: 'Description',
									name: 'description',
									allowBlank: false,
									maxLength: '4000'
								}
							]
						}
					]
				},
				{
					xtype: 'container',
					border: false,
					layout: 'fit',
					padding: '0 5 5 5',
					items: [
						{
							xtype: 'gridpanel',
							title: 'Members',
							store: store,
							dockedItems:[
								{
									xtype: 'pagingtoolbar',
									store: store,
									dock: 'bottom',
									displayInfo: true
								}
							],
							columns: [
								{
									text: 'Name',
									dataIndex: 'fullname',
									hideable: false,
									sortable: false
								}
							],
							width: 'auto',
							forceFit: true
						}
					]
				}
			];
		}
		
		var myBudsStore = Ext.create('Ext.data.Store', {
			storeId:'myBudsStore',
			model: 'UserBuds',
			remoteSort: true,
			remoteFilter: true,
			filters: [
				{
					property: "userid",
					value: Transition.user.id,
					operator: "eq"
				},
				{
					property: "membershipuserid",
					value: Transition.user.id,
					operator: "eq"
				}
			],
			pageSize: 20
		});
		
		
		
		var otherBudsStore = Ext.create('Ext.data.Store', {
			storeId:'otherBudsStore',
			model: 'UserBuds',
			remoteSort: true,
			remoteFilter: true,
			filters: [
				{
					property: "userid",
					value: Transition.user.id,
					operator: "ne"
				},
				{
					property: "membershipuserid",
					value: Transition.user.id,
					operator: "eq"
				}
			],
			pageSize: 20
		});
		
		var grid;
		var otherGrid;
		function BuildGrid(){
			grid = Ext.create('Ext.ux.FormGrid', {
				title: 'My Buds',
				store: myBudsStore,
				GetFormItems: GetFormItems,
				columns: [
					{
						text: 'Name',
						dataIndex: 'name',
						hideable: false,
						sortable: false,
					},
					{
						text: 'Seed Person',  
						dataIndex: 'seedperson', 
						hideable: false,
						sortable: false
					}
				],
				width: 'auto',
				forceFit: true,
				renderTo: 'grid'
			});
			
			otherGrid = Ext.create('Ext.ux.FormGrid', {
				title: 'Other Member\'s Buds',
				store: otherBudsStore,
				GetFormItems: GetOtherFormItems,
				allowAdd: false,
				allowSave: false,
				allowRemove: false,
				formReadOnly: true,
				columns: [
					{
						text: 'Name',
						dataIndex: 'name',
						hideable: false,
						sortable: true,
						filter: {
							type: 'string'
						}
					},
					{
						text: 'Seed Person',  
						dataIndex: 'seedperson', 
						hideable: false,
						sortable: true,
						filter: {
							type: 'string'
						}
					},
					{
						text: 'Owner',
						dataIndex: 'fullname',
						hideable: false,
						sortable: true,
						filter: {
							type: 'string'
						}
					},
					{
						text: 'Type',
						dataIndex: 'typenames',
						hideable: false,
						sortable: true,
						filter: {
							type: 'string'
						}
					},
					{
						xtype: 'actioncolumn',
						text: 'Membership Status',
						dataIndex: 'status',
						hideable: false,
						sortable: true,
						filter: {
							type: 'list',
							options: [{id: 0, text: 'Request to Join'}, {id: 1, text: 'Pending Approval'}, {id: 2, text: 'Accepted'}, {id: 3, text: 'Denied'}]
						},
						items:[{
							handler: function(view, rowIndex, colIndex, item, e, record){
								var value = record.get(this.dataIndex);
								switch(value)
								{
									case 0://Request to join
										record.set(this.dataIndex, 1);
										var rec = new UserBudsMembership();
										rec.set(this.dataIndex, 1);
										rec.set('userbudid', record.get('id'));
										rec.save();
										break;
									case 1://Pending Approval
									case 2://Accepted
										record.set(this.dataIndex, 0);
										var rec = new UserBudsMembership();
										rec.set(this.dataIndex, 0);
										rec.set('userbudid', record.get('id'));
										rec.save();
										break;
									case 3://Denied
										break;
								}
								record.commit();
							},
							getClass: function(value, metadata, record, rowIndex, colIndex, store){
								var cls = ''
								switch(value)
								{
									case 0://Request to join
										cls = 'join-icon';
										break;
									case 1://Pending Approval
										cls = 'cancel-icon';
										break;
									case 2://Accepted
										cls = 'accept-icon';
										break;
									case 3://Denied
										cls = 'decline-icon';
										break;
								}
								return cls;
							},
							getTip: function(value, metadata, record, rowIndex, colIndex, store){
								var tooltip = ''
								switch(value)
								{
									case 0://Request to join
										tooltip = "Request to join " + record.get('name') + "?";
										break;
									case 1://Pending Approval
										tooltip = "Request to join " + record.get('name') + " is waiting on approval from " + record.get('fullname') + ". Do you want to cancel this request?";
										break;
									case 2://Accepted
										tooltip = "You are a member of " + record.get('name') + " Do you want to leave this BUD?";
										break;
									case 3://Denied
										tooltip = "Your request to join " + record.get('name') + " has been denied.";
										break;
								}
								return tooltip;
							}
						}]
					}
				],
				width: 'auto',
				forceFit: true,
				renderTo: 'othergrid',
				plugins: ['gridfilters']
			});
			
			myBudsStore.load(function (records, operation, success){
				if(success)
				{
					grid.updateLayout();
				}
			});
			otherBudsStore.load(function (records, operation, success){
				if(success)
				{
					otherGrid.updateLayout();
				}
			});
		}
	});
</script>
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>


	<div id = "grid"></div>
	<br>
	<br>
	<div id = "othergrid"></div>
	
	{% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

{% include "donateLink" with "pay_what_you_want" %} 