// buttons

@mixin button(){
  cursor: pointer;
  display: inline-block;
  background-color: $button-background;
  padding: .75em 1.5em .75em 1.2em;//1em 2em 1em $button-padding;
  border-left: $button-border;
  font: .85em $font;
  color: $button-color;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 .625em 0 0;
  @include border-radius($button-radius);
  a {
    color: $button-color;
    font-weight: 700;
    text-transform: uppercase;
  }
  &:hover, &:hover > a {
    background-color: $button-hover-background;
    border-color: darken($button-hover-background,15);
    color: $button-hover-color;
  }
  &:active, &:active > a {
    background-color: $button-active-background;
    border-color: darken($button-active-background,15);
    color: $button-active-color;
  }
}

.button,
.small_button {
  @include button;
}

.tiny-button {
  font-size: .75em;
  padding: .625em 1em;
  min-height: 100%;
}

.submit-button, .submit-link, .success-button {
  @include button;
}

p + .button, .small-button, .submit-button, .submit-link, .success-button {
  margin-top: 0;
}

.button.button-alt {
  background-color: $alt;
  border-left: $button-border;
  border-left-color: darken($alt,15);
  vertical-align: middle;
  &:hover, &:hover > a {
    background-color: $button-hover-background;
    border-color: darken($button-hover-background,15);
    color: $button-hover-color;
  }
  &:active, &:active > a {
    background-color: $button-active-background;
    border-color: darken($button-active-background,15);
    color: $alt;
  }
}

input.submit-button {
  border-width: 0 0 0 .4em;
}

// red button, commonly used to cancel actions

.destroy-link {
  background-color: $red;
  border-color: darken($red,15);
  &:active {
    color: $red;
  }
}

.neutral-link {
  background-color: $yellow;
  border-color: darken($yellow,15);
  &:active {
    color: $yellow;
  }
}

// button to close share box

.share-close {
  float: right;
  margin: -1em -1em .75em .75em; 
  padding: .25em;
  min-height: auto;
  font-size: .75em;
  @include border-radius(0px);
}

// read more link

.read-more, .read_more {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
}

.share-container {
  .small-button {
    min-height: 24px;
    padding: 5px 10px;
    font-size: 12px;
  }
}

//Orange button style
.orange.button {
     border-radius: 5px;
    border: 1px solid #ed9d21;
    color: white;
    text-shadow: 1px 1px #da8605;
    background: #ed9d21;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4YWQwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZGE4NjA1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThhZDAwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8ad00), color-stop(50%, #da8605), color-stop(100%, #e8ad00));
    background-image: -moz-linear-gradient(#e8ad00, #da8605, #e8ad00);
    background-image: -webkit-linear-gradient(#e8ad00, #da8605, #e8ad00);
    background-image: linear-gradient(#e8ad00, #da8605, #e8ad00);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
    -moz-background-size: 100% 200%;
    -o-background-size: 100% 200%;
    -webkit-background-size: 100% 200%;
    background-size: 100% 200%;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}