<script type="text/javascript">

var Transition = {
	global: {
		imagesLocation: 'https://thetransitionbud.com/css/thetransitionimages/',
		imageUploadLocation: 'https://thetransitionbud.com/upload/images/',
		uploadImageFileExtension: '.png',
		siteLocation: 'https://thetransitionbud.com/api.php',
		ajaxRequest: function(params, onSuccess, onFailure){
			params.id1 = Transition.user.id
			params.id2 = Transition.user.id2
			Ext.Ajax.request({
				url: Transition.global.siteLocation,
				useDefaultXhrHeader: false, 
				params: params,
				method: 'POST',
				onFailure: onFailure,
				success: Ext.Function.createInterceptor(onSuccess, function(response, opts){
					var response = response.responseText;
					response = Ext.JSON.decode(response);
					if(response.success)
					{
						return true;
					}
					else{
						Ext.MessageBox.show({
							title: 'Error',
							msg: response.errortxt,
							buttons: Ext.MessageBox.OK,
							icon: Ext.MessageBox.ERROR
						});
						if(typeof(opts.onFailure) == 'function')
							opts.onFailure(response);
						return false;
					}
					return true;
				}),
				failure: function(response, opts){
					Ext.MessageBox.show({
						title: 'Error',
						msg: 'A major error occurred. Please retry the action.',
						buttons: Ext.MessageBox.OK,
						icon: Ext.MessageBox.ERROR
					});
				}
			});
		}
	},
	user: {
		id: '{{request.current_user.id}}',
		id2: '{{request.current_user.custom_values_for_display['secretkey']}}',
		lat: '{{request.current_user.address.lat}}',
		defaultLat: '40.67153',
		lng: '{{request.current_user.address.lng}}',
		defaultLng: '-97.74306079999997',
		fullname: '{{request.current_user.full_name_or_friend}}',
		hasLocation: function(){
			if(this.lat == '' || this.lng == '')
				return false;
			return true;
		},
		/*Note this function requires the google maps include */
		calculateDistance: function(latitude, longitude){
			if(this.hasLocation())
			{
				var myLoc = new google.maps.LatLng(this.lat, this.lng);
				var otherLoc = new google.maps.LatLng(latitude, longitude);
				var distance = google.maps.geometry.spherical.computeDistanceBetween(myLoc, otherLoc);
				distance = distance *  0.000621371192;//Compute distance in Miles
				return distance;
			}
			return -1;
		}
	}
};

</script>
