Hi {{ recipient.first_name_or_friend }}, and welcome to The Transition website - the leading social change network for 
social change makers who want to be the change they wish to see in the world. 
We're glad you're here to embark on this exciting and fulfilling journey together. 

<br /> <br /> 

We love cooperation. We use it to take care of our families, our communities and ourselves. It gives us power, freedom and balance. 
It lets us pursue our passions, whatever they may be. 

<br /> <br /> 

Ultimately, cooperation touches every corner of your life, and we're here to provide the guidance and community to 
bring your relationship with cooperation to the next level, no matter where you're starting. 

<br /> <br /> 

Your account is almost ready, just click below to activate it. 
<br /> <a href="{{ recipient.account_activation_url }}">activate your account</a> 

<br /> <br /> 

Once your account is activated, we suggest starting <a href="{{ site.full_url }}your_action_plan">Your Action Plan</a>, 
that we created for you, to begin your personal journey. 

<br /><br /> 

Explore and enjoy, 

<br /><br />

- The Transition Team