<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html><head><title></title>
<style type="text/css">
body, td, font { font-size: 10pt; }
td p { margin: 0em; }
p { margin: 1em 0em; }
td div p { margin: 1em 0em; }
</style>
</head><body marginheight=5 topmargin=5>
<font face="Arial, Verdana, sans-serif" size=2>
  

	
{% yield %}

<br/><br/>
-=-=-<br/>
  <p>
   <a href="http://www.thetransition.org"> The Transition </a> is building a movement to unite social change-makers all over the world, in order to provide them the support, space and resources they need to be more effective in the social change work they are doing. <a href="http://www.thetransition.org/action_plan">Help keep our movement strong.</a>
  </p>
  <br/>
  <br/>
This email was sent to {{ recipient.email }}.
{% if page %}
	To stop receiving updates on this page, <a href="{{ page.unsubscribe_url }}">unfollow here</a>.
{% endif %}
<br/>
{{ settings.official_name }}{% if settings.has_address? %} &middot; {{ settings.address.one_line }} {% endif %}
<br/><br/>
Created with <a href="http://nationbuilder.com/">NationBuilder</a>, software for leaders.
</font>
</body></html>