.add-icon{
	background-image:url('addicon.png')
}
.remove-icon{
	background-image:url('removeicon.png')
}
.save-icon{
	background-image:url('saveicon.png')
}
.x-action-col-cell img.ux-rating-icon {
	height: 16px;
	width: 16px;
	background-image: url(http://thetransition.comeze.com/images/grid/rating.gif);
}
.x-action-col-cell img.ux-rating-icon-on {
	background-position: 0 -16px;
}
.x-action-col-cell img.ux-rating-icon-hover {
	background-position: 0 -32px;
}
.filter-icon{
	height: 16px;
	width: 16px;
	background-image: url(http://thetransition.comeze.com/images/filter-icon.png);
}
.clearfilter-icon{
	height: 16px;
	width: 16px;
	background-image: url(http://thetransition.comeze.com/images/filter-delete-icon.png);
}